section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  app-nav {
    width: 17vw;
  }

  .main-wrapper {
    width: calc(83vw - 60px);
    height: calc(100vh - 60px);
    margin: 30px 30px 30px 30px;
  }
}

.login-page {
  align-items: center;
  justify-content: center;
  background-image: url('./../assets/login-background.jpg');
  background-size: cover;
}
